<div class="notification-data">
  <p class="notification-text">
    <span class="notification-actor">{{actor.username}}</span>
    highlighted
    <a href="{{card.html_url}}" class="notification-card">{{card.name}}</a>
    on board
    <a href="{{board.html_url}}" class="notification-board">{{board.name}}</a>
    <span class="notification-time text-muted">{{time}}</span>
  </p>
</div> {{! .notification-data }}
