<a href="{{html_url}}" class="card-link">
  <div class="card-preview-wrapper">
    {{partial "account/templates/file-preview" this}}
  </div> {{! .card-preview-wrapper }}

  <div class="card-info">
    <div class="card-info-item card-name">{{name}}</div>
    <div class="card-info-item card-author">Added by {{created_by.username}}</div>
    <div class="card-info-item card-comments">{{inflect comments_count "comment" "comments" true}}</div>
  </div> {{! .card-info }}
</a> {{! .card-link }}
