<a href="{{url}}" class="board-link" title="{{name}}{{#unless isMine}} via {{created_by.username}}{{/unless}}">
  <span class="board-thumbnail-partial">
    {{partial "account/templates/board-preview" this}}
  </span> {{! .board-thumbnail-partial }}
  <div class="board-info">
    <span class="board-name">{{name}}</span>
    {{#unless isMine}}
      <span class="board-author">via {{created_by.username}}</span>
    {{/unless}}
  </div> {{! .board-info }}
</a> {{! .board-link }}

{{#if isMine}}
  <a href="#" data-action="delete" title="Delete">{{icon-delete}}</a>
{{else}}
  <a href="#" data-action="leave" title="Leave">{{icon-delete}}</a>
{{/if}}
