{{#each collaborators}}
  <a href="#" class="collaborator-suggestion list-group-item" data-id="{{id}}">
    <img src="{{gravatar_url}}" class="collaborator-avatar">
    <span class="collaborator-name">
      {{first_name}} {{last_name}} <small class="collaborator-username text-muted">{{username}}</small>
    </span> {{! .collaborator-name }}
  </a> {{! .collaborator-suggestion }}
{{/each}}

