<form class="edit-collaborator-form">
  {{#unless isOwner}}
    <button type="button" class="close pull-right" data-action="removeCollaborator">&times;</button>
  {{/unless}}

  {{#if isOwner}}
    <strong class="collaborator-permissions pull-right">Is owner</strong>
  {{else}}
    <div class="collaborator-permissions dropdown pull-right" data-permission="{{permission}}">
      <a class="collaborator-permissions-toggle dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="collaborator-permissions-toggle-text">Can {{#is permission "read"}}view{{else}}edit{{/is}}</span>
        <b class="caret"></b>
      </a> {{! [data-toggle="dropdown"] }}
      <ol class="collaborator-permissions-list dropdown-menu" role="menu">
        <li><li><a class="item-action" href="#" data-permission="read">Can view</a></li></li>
        <li><li><a class="item-action" href="#" data-permission="write">Can edit</a></li></li>
      </ol> {{! .collaborator-permissions-list }}
    </div> {{! .collaborator-permissions }}
  {{/if}}

  <img src="{{avatar}}" class="collaborator-avatar">

  <span class="collaborator-name">
    {{name}} <small class="collaborator-username text-muted">{{username}}</small>
  </span> {{! .collaborator-name }}
</form> {{! .edit-collaborator-form }}
