{{#if hasPreview}}
  <img src="{{preview.image}}" class="card-preview card-preview-loader">
{{else}}
  <img src="{{asset-url}}images/patterns/{{preview.pattern}}.svg" class="card-preview-loader">
  <div class="card-preview-extension">{{preview.extension}}</div>
  <div class="card-preview" data-pattern="{{preview.pattern}}" style="background-color:{{preview.color}};"></div>
{{/if}}
