<div class="accounts-dropdown-current dropdown">
  {{#if hasMoreAccounts}}
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{#with current}}
        {{account-avatar name logo_color}} <span class="account-name lead">{{name}}</span>
      {{/with}}

      <b class="caret"></b>
    </a> {{! [data-toggle="dropdown"] }}
  {{else}}
    {{#with current}}
      {{account-avatar name logo_color}} <span class="account-name lead">{{name}}</span>
    {{/with}}
  {{/if}}

  <ol class="accounts-dropdown-list dropdown-menu accounts-sm" role="menu"></ol>
</div>
