<div class="dropdown">
  <a data-toggle="dropdown" href="#">
    {{#with currentAccount}}
      <img src="{{image}}" class="img-circle" height="22px" width="22px">
      <span>{{name}}</span>
    {{/with}}
  </a> {{! [data-toggle="dropdown"] }}
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    {{#each accounts}}
      <li>
        <a href="{{url}}" data-route="{{url}}">
          <img src="{{image}}" class="img-circle" height="22px" width="22px">
          <span>{{name}}</span>
        </a>
      </li>
    {{/each}}
  </ul> {{! .dropdown-menu }}
</div> {{! .dropdown }}
